body{
    background: url("/img/hand-drawn-nostalgic-90-s-background_23-2149052482.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-laravel{
    background:#fff17c;
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    font-family: 'Rock Salt', cursive;
    font-size:30px;
    color:#fd3f99;
    font-weight:700;
}
.navbar-light .navbar-nav .nav-link{
    font-weight:700;
}

.card{
    margin-bottom:30px;
    border:3px solid #333;
}
.current-balance{
    font-size:18px;
}
.recent-transactions .recent-transactions-headers{
    display:flex;
}
.recent-transactions .recent-transactions-headers > span{
    flex:1;
    text-transform:uppercase;
    font-size:11px;
}
.recent-transactions ul.recent-transactions-list{
    list-style:none;
    margin:0;
    padding:0;

}
.recent-transactions ul.recent-transactions-list li{
    margin:0;
    padding:0;
    width:100%;
    display: flex;
}
.recent-transactions ul.recent-transactions-list li:nth-child(even){
    background: #dff8ff;
}
.recent-transactions ul.recent-transactions-list li.template{
    display:none;
}
.recent-transactions ul.recent-transactions-list li span{
    flex: 1;
}
@media screen and (max-width:550px){
    .navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
        font-size:20px;
    }
}
@media screen and (max-width:400px){
    .navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
        font-size:18px;
    }
}

form[name="quick-transaction-form"] input[type="submit"]{
    margin-top:15px;
}

.datepicker.dropdown-menu{
    padding:10px;
}

.current_overdraft{
    display:block;
    text-align:right;
}
.alert-warning.overdrawn{
    background:#fd3f99;
    border: none;
    color:#fff;
    font-weight: 500;
    display:none;
}
.alert-warning.excess{
    background:#22ccff;
    border: none;
    color:#fff;
    font-weight: 500;
    display:none;
}

ul.account-info-list{
    list-style:none;
    margin:0;
    padding:0;
}
ul.account-info-list > li{
    margin-bottom:5px;
}
ul.account-info-list span.account-label{
    display: inline-block;
    width:100px;
}
